<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S.S.Agrwal Collage</title>
    <style>
        *{
    margin:0;
    padding:0; 
    box-sizing: border-box;
    font-family: 'Gilroy';
    text-decoration: none;
    /* color: #fff; */
}
*::selection{
    color: #fff;
    background-color: #000;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #000;}
    
    #nav {
        height: 9vh;
        width: 100%;
        position: fixed;
        display: flex;
        z-index: 99;
        color: #fff;
        background-color: rgba(46, 46, 46, 0.5); /* Semi-transparent background */
        backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
    }
    
#div-a {
    display: flex;
    height: 100%;
    width: 50%;
    object-fit: contain;
    justify-content: left;
  
}
#div-a img{
    object-fit: contain;
    height: 100%;
    width: 10VW;
    margin-left: 20px;
  
}
#div-b {
    display: flex;
    height: 100%;
    color: #fff;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 27px;
}
#div-b ul{
    margin: 15px;
    padding-left: 5px;
    cursor: pointer;
}
#div-b ul a{
    margin: 15px;
    padding-left: 5px;
    cursor: pointer;
    color: #fff;
}

#cursor{
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
     transform:scale(0);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

.showcase {
  width: 100%;
  height: 95vh;
  position: relative;
  /* background: url("https://images.unsplash.com/photo-1608942025318-1191eeade556?q=80&w=1155&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") */
    /* no-repeat center center/cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: inset 30px 10px 150px #000000;
}

.showcase-content {
  position: relative;
  z-index: 2;
  width: 450px;
  height: 450px;
  background: rgba(50, 50, 50, 0.5);   margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 60px 60px;
  border-radius: 16px;
  backdrop-filter: blur(20px); /* Adjust the blur radius as needed */
}

.formm h1 {
  margin-bottom: 20px;
}

.formm {
  width: 100%;
  margin-bottom: 40px;
}

.formm .info {
  padding: 5px 0;
  margin-bottom: 20px;
}

.formm .info .email {
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: inherit;
}

.formm .btn {
  margin-bottom: 10px;
  width: 100%;
}

.btn-primary {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: #007bff;
  color: #fff;
  font-size: inherit;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}

.help {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.help a {
  color: #999;
}

.help a:hover {
  text-decoration: underline;
}

/*  input */

input[type="checkbox"] {
  background: #737373;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  height: 16px;
  left: -20px;
  width: 16px;
  margin-right: 5px;
}

input[type="email"] {
  background: #343434;
}

input[type="password"] {
  background: #343434;
}

/*  input end */

.signup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.signup p {
  margin-right: 5px;
}

.more {
  font-size: 0.8em;
  line-height: 1.1em;
}

.more a {
  color: rgb(17, 108, 228);
}

.more a:hover,
.signup a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #496989;
  border-radius: 10px;
  border: 1px solid #496989;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* ----------footer-------------- */
#footer{
  display: flex;
  height: 2vh;
  width: 100%;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #bcbcbc;
   font-size: 14px;
}
#footer  a{
  color: #fff;
  margin-left: 5px;
  cursor: pointer;

}

    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
</head>
<body>
    <div id="nav">
        <div id="div-a">
            <a href="/"><img src="https://www.ssagrawal.org/202122/wordpress/wp-content/uploads/2021/01/logo.png" alt=""></a>
        </div>
        <div id="div-b">
            <ul><a href="/login">Login</a></ul>
            <ul><a href="/reg">Register</a></ul>
            <ul>About</ul>
            <ul>Contect us</ul>
        </div>

    </div>
    <div id="cursor"></div>
    <div id="main">
      
  <header class="showcase">
    <div class="showcase-content">
      <div class="showcase-top">
        <h1>Login here</h1>
      </div>
      <div class="formm">
        <form action="/login" method="post">
          <h2> <br>
          </h2>
          <div class="info">
            <input class="email" name="username" type="text" placeholder="Name" id="email"> <br>
            <input class="email" name="password" type="text" placeholder="Password" id="password">
          </div>
          <div class="btn">
            <button class="btn-primary" type="submit" onclick="signIn()">Sign In</button>
          </div>
          <div class="help">
            <div>
              <input value="true" type="checkbox"><label>Remember me</label>
            </div>
          </div>
          <div class="signup">
            <p>New to User ?</p>
            <a href="/reg">Sign up now</a>
          </div>
        </form>
      </div>
    </div>
  </header>
      
              
   

    <div id="footer">
      All design Rights Reserved by <a href="https://work-portfolio-drab.vercel.app/">© Jetal patel</a>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js" integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let doctitle = document.title;
window.addEventListener("blur", () => {
  document.title = "Wlcome Feculty";
});
window.addEventListener("focus", () => {
  document.title = doctitle;
});

    </script>
</body>
</html>